@charset "utf-8";

body {
  background-image: url(img/haikei.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
  text-align: center;
}

#wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

svg,
canvas {
  position: absolute;
  top: 0;
  left: 0;

}

canvas {
  z-index: 100;
}

svg {
  z-index: 10;
}

.canvas_bg {
  z-index: 1;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  opacity: 0.5;
}

.grade_btn {
  text-align: right;
  margin-right: 10%;
}

.btn_list {
  text-align: center;
}

.grade_btn,
.btn_list {
  margin-top: 30px;
}

/*.result {
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 500;
}*/

#resultIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#resultMessage {
  color: #000;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.grade_btnitems {
  font-size: 25px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px #000 solid;
  padding: 10px;
}

@media screen and (max-width: 767px) {

  body {
    background-image: url(img/haikei.jpg);
    background-repeat: no-repeat;
    background-position: center center;

  }

  .btn_list {
    margin-top: 35px;
  }

  #resultIcon {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  #resultMessage {
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}